.hero {
  position: relative;
}
.hero__section {
  padding-top: 87px;
}

.hero__container {
  min-height: 634px;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 165px;
  gap: 57px;
}

.hero__header-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero__header-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

.hero__header-title {
  font-weight: 600;
  font-size: 128px;
  color: var(--main-color);
}

.hero__title-span {
  -webkit-text-stroke: 2px var(--accent-color);
  color: transparent;
}

.hero__img {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--layer-0);
}

.hero__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 100px;
  gap: 15px;
  height: 24px;
}

.icon__link {
  display: inline-flex;
}

.hero__footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color var(--transition-time);
}

.hero__footer-link:hover {
  color: var(--accent-color);
}

.hero__footer-icon {
  stroke: currentColor;
}
