:root {
  /* font-family */
  --font-family: Montserrat, sans-serif;

  /* color */
  --main-color: #fff;
  --main-shadow-color: #ffffff4d;
  --accent-color: #ffea00;
  --accent-color-shadow: #ffea004d;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --secondary-shadow-color: #c9c69b4d;
  --disable-color: #5d5d56;
  --disable-shadow-color: #5d5d564d;
  --shadow-color: 0 0 20px 0 #181817;
  --overlay-color: #2a2a2980;

  /* container */
  --container-width: 1240px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.3s;

  /* layer */
  --layer-0: -1;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
}
