@media (width > 576px) {
  .air-mag {
    margin-bottom: 93px;
  }
}

@media (width <= 576px) {
  .air-mag {
    margin-bottom: 80px;
  }
}

@media (width > 576px) {
  .air-mag__title {
    padding-bottom: 10px;
  }
}

@media (width <= 576px) {
  .air-mag__title {
    font-size: 32px;
    padding-bottom: 20px;
  }
}

.air-mag__text {
  display: flex;
  gap: 13px;
}

@media (width <= 576px) {
  .air-mag__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.air-mag__text::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 131px;
  height: 39px;
  background-image: url(../../icons/air-mag-img.png/air-mag-decor.svg);
  transform: translateX(-13px);
}

.air-mag__img-characteristics {
  display: flex;
}

@media (width > 992px) {
  .air-mag__img-characteristics {
    gap: 60px;
  }
}

@media (width <= 992px) {
  .air-mag__img-characteristics {
    flex-direction: column;
  }
}

.air-mag__img {
  padding-top: 20px;
}

.air-mag__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 97px;
}

@media (width <= 576px) {
  .air-mag__list {
    padding-top: 0;
  }
}

@media (width > 992px) {
  .air-mag__item {
    max-width: 293px;
  }
}

@media (width <= 992px) {
  .air-mag__item {
    max-width: 700px;
  }
}

.air-mag__item::before {
  content: "";
  display: block;
  width: 45px;
  height: 33px;
  background-image: url(../../icons/air-mag-img.png/air-mag-checbox.svg);
  margin-bottom: 14px;
  transform: translateX(-6px);
}
