@media (width <= 576px) {
  .top-models {
    margin-bottom: 80px;
  }
}

.top-models__title-accent {
  color: var(--accent-color);
}

.top-models__product {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
}

.top-models__card {
  display: flex;
  justify-content: space-between;
  min-height: 204px;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  box-shadow:
    0 0 30px 3px var(--accent-color-shadow),
    inset 0 0 30px 3px var(--accent-color-shadow);
}

@media (width > 576px) {
  .top-models__card {
    padding: 30px;
  }
}

@media (width <= 576px) {
  .top-models__card {
    padding: 20px;
  }
}

.top-models__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  color: var(--main-color);
  transition: var(--transition-time);
}

@media (any-hover: hover) {
  .top-models__link:hover {
    color: var(--accent-color);
  }
}

.top-models__card-title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

@media (width > 768px) {
  .top-models__card-title {
    width: 139px;
  }
}

@media (width <= 576px) {
  .top-models__card-title {
    width: 139px;
  }
}

.top-models__arrows {
  stroke: currentColor;
}

.top-models__images {
  display: flex;
  align-items: center;
}

@media (width <= 576px) {
  .top-models__images {
    width: 156px;
  }
}

.top-models__img {
  align-self: flex-end;
  width: 100%;
}
