/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

.header {
  background-color: var(--main-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__burger-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
}

@media (width <= 768px) {
  .header__burger-logo {
    gap: 40px;
  }
}

@media (width <= 390px) {
  .header__burger-logo {
    gap: 25px;
  }
}

.header__burger-menu {
  display: none;
}

@media (width <= 768px) {
  .header__burger-menu {
    display: block;
    stroke: var(--white-color);
  }
}

@media (width <= 768px) {
  .header__burger {
    width: 40px;
    height: 40px;
  }
}

@media (width <= 390px) {
  .header__burger {
    width: 30px;
    height: 30px;
  }
}

@media (width<= 768px) {
  .header__logo-img {
    width: 142px;
    height: 60px;
  }
}

@media (width<= 390px) {
  .header__logo-img {
    width: 94px;
    height: 39px;
  }
}

@media (width<= 768px) {
  .header__menu {
    display: none;
  }
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: clamp(15px, -0.461rem + 2.91vw, 30px);
}

.header__menu-item--style {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header__menu-link {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(13px, 0.16rem + 1.36vw, 20px);
  color: var(--white-color);
}

.header__cart-img {
  margin-left: 3px;
  stroke: var(--white-color);
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

@media (any-hover: hover) {
  .header__cart-img:hover {
    stroke: var(--accent-color);
  }
}

@media (width <= 768px) {
  .header__cart {
    width: 31px;
    height: 31px;
  }
}

@media (width <= 390px) {
  .header__cart {
    width: 24px;
    height: 24px;
  }
}

.header__cart-img:active {
  stroke: var(--active-color);
}
