.header-contanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #858e8a5e;
  gap: 20px;
}

.phone {
  text-align: right;
}

.phone p {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  color: #858e8a;
}

.phone a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}

.phone a:hover {
  color: #3596ed;
}
